.elements {
  width: calc(100% - 208px);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
  gap: 16px;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .elements {
    width: calc(100% - 80px);
    grid-template-columns: repeat(auto-fit, minmax(224px, 224px));
    gap: 8px;
  }
}

@media screen and (max-width: 520px) {
  .elements {
    width: calc(100% - 32px);
    grid-template-columns: repeat(auto-fit, minmax(280px, 280px));
    gap: 10px;
  }
}